body {
  font-family: Mais-Neue-Reg;
  height: 100%;
}

button {
  font-family: inherit;
  background-color: inherit;
  text-decoration: inherit;
  border: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  background-color: inherit;
  text-decoration: inherit;
  border: inherit;
  font-size: 16px;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 40px;
  color: #171717;
  line-height: 45px;
}

div {
  display: block;
}

/* ---------- */
/* HEADER */
/* ---------- */

header {
  height: 52 px;
  border-bottom: 1px solid #ededed;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 80px;
  max-width: 1280px;
}

.input-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  height: 36px;
  width: 576px;
}

.magnifying-glass,
.research-bar {
  color: #999999;
  margin-left: 10px;
}

.login-signup,
.sell-button {
  height: 28px;
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0 10px;
}

.login-signup {
  color: #017580;
  background-color: #fff;
  border: 1px solid #017580;
  margin-right: 20px;
}
.sell-button {
  color: white;
  background-color: #017580;
  margin-left: 70px;
}

/* ----------- */
/* HERO */
/* ----------- */

.hero {
  background-image: url("./images/hero-banner.jpg");
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
}

.sales-invit-block {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px hsl(0deg 0% 7% / 24%);
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: 75px;
  width: 360px;
}

.sales-text-container {
  margin: auto;
  width: 1280px;
}

.sales-button {
  font-size: 16px;
  height: 45px;
  margin-top: 32px;
  padding: 0 14px;
  width: 187px;
  color: white;
  background-color: #017580;
  border-radius: 5px;
}

.background-crop {
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
}

.background-crop svg {
  bottom: 0;
  height: 50px;
  position: absolute;
  right: 0;
}

/* OFFER CARDS */

.offers-block {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}

article {
  cursor: pointer;
  padding: 0 10px 16px;
  width: 235px;
  margin-bottom: 40px;
}

article span,
article p {
  color: #757575;
  margin-left: 10px;
  line-height: 15px;
  margin-top: 5px;
}

.offer-card-head {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
}

/* ---------- */
/* OFFER PAGE */
/* ---------- */

.offer-body {
  background-color: #ebedee;
  height: 93.2vh;
}

.offer-container {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
  max-height: 85vh;
}

.product-img {
  height: 100%;
}

.offer-infos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
}

.product-price {
  font-size: 24px;
  line-height: 32px;
}

.product-details {
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.product-key {
  flex: 1;
  font-size: 14px;
  color: #999999;
  font-weight: 100;
}

.product-key-info {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  text-transform: uppercase;
}

.divider {
  width: 100%;
  background: #999999;
  display: block;
  height: 1px;
}

.product-name {
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 16px;
}

.product-description {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 20px;
  color: #666666;
  font-size: 16px;
}

.user-infos {
  display: flex;
  align-items: center;
}

.offer-username {
  margin-left: 10px;
}

.buy-button {
  background: #017580;
  border: 1px solid #017580;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
}
